In [1]:
import pandas as pd
import numpy as np

In [2]:
kab_bps=pd.read_csv('kab_bps.csv')

In [3]:
kab_bps=kab_bps[['KODE','NMKAB']]
kab_bps.head()

   KODE     NMKAB
0  1101  SIMEULUE
1  1101  SIMEULUE
2  1101  SIMEULUE
3  1101  SIMEULUE
4  1101  SIMEULUE

In [4]:
kab_bps=kab_bps.drop_duplicates()

In [5]:
kab_dagri=pd.read_csv('kab_dagri.csv')

In [6]:
kab_dagri.head()

   Unnamed: 0                 kab   kode
0          15   KAB. ACEH SELATAN  11.01
1         616  KAB. ACEH TENGGARA  11.02
2        1517     KAB. ACEH TIMUR  11.03
3        2698    KAB. ACEH TENGAH  11.04
4        3405     KAB. ACEH BARAT  11.05

In [7]:
kab_dagri

     Unnamed: 0                     kab   kode
0            15       KAB. ACEH SELATAN  11.01
1           616      KAB. ACEH TENGGARA  11.02
2          1517         KAB. ACEH TIMUR  11.03
3          2698        KAB. ACEH TENGAH  11.04
4          3405         KAB. ACEH BARAT  11.05
5          4114         KAB. ACEH BESAR  11.06
6          5435              KAB. PIDIE  11.07
7          7448         KAB. ACEH UTARA  11.08
8          9349           KAB. SIMEULUE  11.09
9          9688       KAB. ACEH SINGKIL  11.10
10        10145            KAB. BIREUEN  11.11
11        11750    KAB. ACEH BARAT DAYA  11.12
12        12135          KAB. GAYO LUES  11.13
13        12500          KAB. ACEH JAYA  11.14
14        12965         KAB. NAGAN RAYA  11.15
15        13576       KAB. ACEH TAMIANG  11.16
16        14119       KAB. BENER MERIAH  11.17
17        14686         KAB. PIDIE JAYA  11.18
18        15149         KOTA BANDA ACEH  11.71
19        15350             KOTA SABANG  11.72
20        15393        KOTA LHOKSEUMAWE  11.73
21        15562             KOTA LANGSA  11.74
22        15751       KOTA SUBULUSSALAM  11.75
23        15969    KAB. TAPANULI TENGAH  12.01
24        16506     KAB. TAPANULI UTARA  12.02
25        17045   KAB. TAPANULI SELATAN  12.03
26        19836               KAB. NIAS  12.04
27        21335            KAB. LANGKAT  12.05
28        21984               KAB. KARO  12.06
29        22653       KAB. DELI SERDANG  12.07
..          ...                     ...    ...
484      216215           KAB. YAHUKIMO  91.13
485      217572           KAB. TOLIKARA  91.14
486      219617            KAB. WAROPEN  91.15
487      220032       KAB. BOVEN DIGOEL  91.16
488      220431              KAB. MAPPI  91.17
489      220940              KAB. ASMAT  91.18
490      221645            KAB. SUPIORI  91.19
491      221782     KAB. MAMBERAMO RAYA  91.20
492      221943   KAB. MAMBERAMO TENGAH  91.21
493      222074             KAB. YALIMO  91.22
494      222691         KAB. LANNY JAYA  91.23
495      224014              KAB. NDUGA  91.24
496      224899             KAB. PUNCAK  91.25
497      225632            KAB. DOGIYAI  91.26
498      225813         KAB. INTAN JAYA  91.27
499      226026             KAB. DEIYAI  91.28
500      226185           KOTA JAYAPURA  91.71
501      226331             KAB. SORONG  92.01
502      227374          KAB. MANOKWARI  92.02
503      228819            KAB. FAK FAK  92.03
504      229286     KAB. SORONG SELATAN  92.04
505      230035         KAB. RAJA AMPAT  92.05
506      230508      KAB. TELUK BINTUNI  92.06
507      230963      KAB. TELUK WONDAMA  92.07
508      231232            KAB. KAIMANA  92.08
509      231467           KAB. TAMBRAUW  92.09
510      232188            KAB. MAYBRAT  92.10
511      232997  KAB. MANOKWARI SELATAN  92.11
512      233130   KAB. PEGUNUNGAN ARFAK  92.12
513      233515             KOTA SORONG  92.71

[514 rows x 3 columns]

In [8]:
kab_dagri=kab_dagri[['kab','kode']]

In [9]:
kab_bps['KAB']=np.where(kab_bps.KODE.astype(str).str.slice(2,3)!='7','KAB. '+kab_bps['NMKAB'],"KOTA "+kab_bps['NMKAB'])

In [10]:
kab_bps.head()

     KODE          NMKAB                 KAB
0    1101       SIMEULUE       KAB. SIMEULUE
138  1102   ACEH SINGKIL   KAB. ACEH SINGKIL
254  1103   ACEH SELATAN   KAB. ACEH SELATAN
514  1104  ACEH TENGGARA  KAB. ACEH TENGGARA
899  1105     ACEH TIMUR     KAB. ACEH TIMUR

In [11]:
kab_bps=kab_bps[['KODE','KAB']]

In [12]:
kab_bps['key']=1
kab_dagri['key']=1

In [13]:
kab_cek=kab_bps.merge(kab_dagri,how='outer')

In [14]:
from nltk.metrics import edit_distance

In [15]:
kab_cek["ed_distance"] = kab_cek.loc[:, ["KAB","kab"]].apply(lambda x: edit_distance(*x), axis=1)

In [16]:
kab_cek.head()

   KODE            KAB  key                 kab   kode  ed_distance
0  1101  KAB. SIMEULUE    1   KAB. ACEH SELATAN  11.01           11
1  1101  KAB. SIMEULUE    1  KAB. ACEH TENGGARA  11.02           12
2  1101  KAB. SIMEULUE    1     KAB. ACEH TIMUR  11.03            9
3  1101  KAB. SIMEULUE    1    KAB. ACEH TENGAH  11.04           10
4  1101  KAB. SIMEULUE    1     KAB. ACEH BARAT  11.05           10

In [17]:
kab_cek=kab_cek[kab_cek['ed_distance']<2]

In [18]:
kab_cek.head()

      KODE                 KAB  key                 kab   kode  ed_distance
8     1101       KAB. SIMEULUE    1       KAB. SIMEULUE  11.09            0
523   1102   KAB. ACEH SINGKIL    1   KAB. ACEH SINGKIL  11.10            0
1028  1103   KAB. ACEH SELATAN    1   KAB. ACEH SELATAN  11.01            0
1543  1104  KAB. ACEH TENGGARA    1  KAB. ACEH TENGGARA  11.02            0
2058  1105     KAB. ACEH TIMUR    1     KAB. ACEH TIMUR  11.03            0

In [19]:
kab_cek.to_csv('bridging_kab.csv', sep=';', float_format='%.2f')

In [20]:
kab_bps[~kab_bps['KODE'].isin(kab_cek['KODE'])].to_csv('kab_bps_tdk_rend.csv',sep=';')

In [21]:
kab_dagri[~kab_dagri['kode'].isin(kab_cek['kode'])].to_csv('kab_dagri_tdk_rend.csv',sep=';', float_format='%.2f')

In [22]:
### after manual checking 

kab_bridging=pd.read_excel('bridging_kab_ok.xlsx')

In [23]:
kab_bridging.head()

   KODE BPS             KAB BPS           KAB DAGRI  KODE DAGRI
0      1101       KAB. SIMEULUE       KAB. SIMEULUE       11.09
1      1102   KAB. ACEH SINGKIL   KAB. ACEH SINGKIL       11.10
2      1103   KAB. ACEH SELATAN   KAB. ACEH SELATAN       11.01
3      1104  KAB. ACEH TENGGARA  KAB. ACEH TENGGARA       11.02
4      1105     KAB. ACEH TIMUR     KAB. ACEH TIMUR       11.03

In [65]:
kec_bps=pd.read_csv('kec_bps.csv',encoding='latin')

In [66]:
kec_bps=kec_bps.drop_duplicates()

In [67]:
kec_bps=kec_bps[['KODE_KEC','NMKEC']]

In [68]:
kec_bps.head()

   KODE_KEC           NMKEC
0   1101010  TEUPAH SELATAN
1   1101010  TEUPAH SELATAN
2   1101010  TEUPAH SELATAN
3   1101010  TEUPAH SELATAN
4   1101010  TEUPAH SELATAN

In [69]:
kec_bps['PARENT']=kec_bps.KODE_KEC.astype(str).str.slice(0,4)

In [70]:
kec_bps.head()

   KODE_KEC           NMKEC PARENT
0   1101010  TEUPAH SELATAN   1101
1   1101010  TEUPAH SELATAN   1101
2   1101010  TEUPAH SELATAN   1101
3   1101010  TEUPAH SELATAN   1101
4   1101010  TEUPAH SELATAN   1101

In [71]:
kec_bps['PARENT']=pd.to_numeric(kec_bps['PARENT'])

In [72]:
kec_bps.dtypes

KODE_KEC     int64
NMKEC       object
PARENT       int64
dtype: object

In [73]:
kab_bridging.dtypes

KODE BPS        int64
KAB BPS        object
KAB DAGRI      object
KODE DAGRI    float64
dtype: object

In [74]:
kec_bps_temp=kec_bps.merge(kab_bridging,how='left',left_on='PARENT',right_on='KODE BPS')
kec_bps_temp.head()

,KODE_KEC,NMKEC,PARENT,KODE BPS,KAB BPS,KAB DAGRI,KODE DAGRI
0,1101010,TEUPAH SELATAN,1101,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09
1,1101010,TEUPAH SELATAN,1101,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09
2,1101010,TEUPAH SELATAN,1101,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09
3,1101010,TEUPAH SELATAN,1101,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09
4,1101010,TEUPAH SELATAN,1101,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09

In [75]:
kec_bps_temp=kec_bps_temp.drop_duplicates()

In [76]:
kec_bps_temp.head()

,KODE_KEC,NMKEC,PARENT,KODE BPS,KAB BPS,KAB DAGRI,KODE DAGRI
0,1101010,TEUPAH SELATAN,1101,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09
19,1101020,SIMEULUE TIMUR,1101,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09
36,1101021,TEUPAH BARAT,1101,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09
54,1101022,TEUPAH TENGAH,1101,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09
66,1101030,SIMEULUE TENGAH,1101,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09

In [77]:
kec_dagri=pd.read_csv('kec_dagri.csv',encoding='latin')

In [78]:
kec_dagri.head()

   Unnamed: 0            kec      kode
0          18       Bakongan  11.01.01
1          54    Kluet Utara  11.01.02
2          98  Kluet Selatan  11.01.03
3         134   Labuhan Haji  11.01.04
4         168         Meukek  11.01.05

In [79]:
kec_dagri['PARENT']=pd.to_numeric(kec_dagri.kode.astype(str).str.slice(0,5))

In [80]:
kec_dagri_temp=kec_dagri.merge(kab_bridging,how='left',left_on='PARENT',right_on='KODE DAGRI')

In [81]:
kec_dagri_temp.kec=kec_dagri_temp.kec.str.upper()

In [82]:
kec_dagri_temp.head()

,Unnamed: 0,kec,kode,PARENT,KODE BPS,KAB BPS,KAB DAGRI,KODE DAGRI
0,18,BAKONGAN,11.01.01,11.01,1103,KAB. ACEH SELATAN,KAB. ACEH SELATAN,11.01
1,54,KLUET UTARA,11.01.02,11.01,1103,KAB. ACEH SELATAN,KAB. ACEH SELATAN,11.01
2,98,KLUET SELATAN,11.01.03,11.01,1103,KAB. ACEH SELATAN,KAB. ACEH SELATAN,11.01
3,134,LABUHAN HAJI,11.01.04,11.01,1103,KAB. ACEH SELATAN,KAB. ACEH SELATAN,11.01
4,168,MEUKEK,11.01.05,11.01,1103,KAB. ACEH SELATAN,KAB. ACEH SELATAN,11.01

In [83]:
kec_dagri_temp=kec_dagri_temp.drop('PARENT',1)
kec_bps_temp=kec_bps_temp.drop('PARENT',1)

In [84]:
kec_bps_temp=kec_bps_temp[['NMKEC','KODE_KEC','KODE BPS','KAB BPS','KAB DAGRI','KODE DAGRI']]
kec_dagri_temp=kec_dagri_temp[['kec','kode','KODE BPS','KAB BPS','KAB DAGRI','KODE DAGRI']]

In [125]:
kec_cek=kec_bps_temp.merge(kec_dagri_temp,how='outer')

In [126]:
kec_cek.shape

(134712, 8)

In [128]:
kec_cek.head()

,NMKEC,KODE_KEC,KODE BPS,KAB BPS,KAB DAGRI,KODE DAGRI,kec,kode
0,TEUPAH SELATAN,1101010,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,SIMEULUE TENGAH,11.09.01
1,TEUPAH SELATAN,1101010,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,SALANG,11.09.02
2,TEUPAH SELATAN,1101010,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,TEUPAH BARAT,11.09.03
3,TEUPAH SELATAN,1101010,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,SIMEULUE TIMUR,11.09.04
4,TEUPAH SELATAN,1101010,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,TELUK DALAM,11.09.05

In [129]:
kec_cek=kec_cek[['KODE_KEC','NMKEC','KODE BPS','KAB BPS','KAB DAGRI','KODE DAGRI','kec','kode']]

In [130]:
kec_cek.head()

,KODE_KEC,NMKEC,KODE BPS,KAB BPS,KAB DAGRI,KODE DAGRI,kec,kode
0,1101010,TEUPAH SELATAN,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,SIMEULUE TENGAH,11.09.01
1,1101010,TEUPAH SELATAN,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,SALANG,11.09.02
2,1101010,TEUPAH SELATAN,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,TEUPAH BARAT,11.09.03
3,1101010,TEUPAH SELATAN,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,SIMEULUE TIMUR,11.09.04
4,1101010,TEUPAH SELATAN,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,TELUK DALAM,11.09.05

In [132]:
kec_cek["ed_distance"] = kec_cek.loc[:, ["NMKEC","kec"]].apply(lambda x: edit_distance(*x), axis=1)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [133]:
kec_cek.head()

,KODE_KEC,NMKEC,KODE BPS,KAB BPS,KAB DAGRI,KODE DAGRI,kec,kode,ed_distance
0,1101010,TEUPAH SELATAN,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,SIMEULUE TENGAH,11.09.01,11
1,1101010,TEUPAH SELATAN,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,SALANG,11.09.02,11
2,1101010,TEUPAH SELATAN,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,TEUPAH BARAT,11.09.03,5
3,1101010,TEUPAH SELATAN,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,SIMEULUE TIMUR,11.09.04,13
4,1101010,TEUPAH SELATAN,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,TELUK DALAM,11.09.05,9

In [134]:
kec_cek=kec_cek[kec_cek['ed_distance']<2]

In [135]:
kec_cek.shape

(7121, 9)

In [136]:
kec_cek.head()

,KODE_KEC,NMKEC,KODE BPS,KAB BPS,KAB DAGRI,KODE DAGRI,kec,kode,ed_distance
6,1101010,TEUPAH SELATAN,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,TEUPAH SELATAN,11.09.07,0
13,1101020,SIMEULUE TIMUR,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,SIMEULUE TIMUR,11.09.04,0
22,1101021,TEUPAH BARAT,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,TEUPAH BARAT,11.09.03,0
38,1101022,TEUPAH TENGAH,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,TEUPAH TENGAH,11.09.09,0
40,1101030,SIMEULUE TENGAH,1101,KAB. SIMEULUE,KAB. SIMEULUE,11.09,SIMEULUE TENGAH,11.09.01,0

In [137]:
kec_cek.drop_duplicates().shape[0]

7121

In [138]:
kec_bps.drop_duplicates().shape

(7217, 3)

In [139]:
kec_cek=kec_cek[kec_cek.KODE_KEC.astype(str).str.slice(0,4)==kec_cek["KODE BPS"].astype(str)]

In [102]:
kec_cek.to_csv('bridging_kec.csv', sep=';', float_format='%.2f')

In [113]:
kec_bps_temp.shape

(7217, 6)

In [115]:
kec_bps_temp[~kec_bps_temp['KODE_KEC'].isin(kec_cek['KODE_KEC'])].shape

(143, 6)